

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  
    --hvid: hsl(0, 0%, 100%);
    --moerkBlaa: #062f5f;
    --lysTurkis: #77d1cf;
    --moerkTurkis: #427877;
    --lysBlaa: #b9d7ef;
    --lysGraa: #f0f0f0;
    --sort: #000000;


    --marginStandart: 16px;
}

*{
    margin: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
}


.btn{
    background-color: var(--moerkBlaa);
    border-radius: 6px;
    color: var(--hvid);
    border: none;
    padding: 8px 16px;
}

/*----------------------header start--------------------------*/
header{
    display: flex;
    margin: 8px 16px;
    justify-content: space-between;
}
.headerSvg{
    fill: var(--moerkBlaa);
    height: 20px;
    width: 20px;
    margin-left: 12px;
}
.logo{
    width: 25%;
}
.headerTekst{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#overTekstHeader{
    font-weight: 600;
}
#underTekstHeader{
    font-size: 12px;
    color: var(--moerkTurkis);
}




#mobileNav {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    background-color:#062f5f; /* Replace with desired background color */
    z-index: 9999; /* Ensure the menu appears on top of other elements */
    display: none;
}
#mobileNav.show {
    display: block;
}

.burgerIcon{
    width: 20px;
    position: relative;
}
.burgerMenuNav{

    position: relative;
}
.burgerMenuNav a{
    color: var(--hvid);
    text-decoration: none;
    display: block;
}
/*----------------------header slut--------------------------*/


/*--------------------Praktisk start---------------------------*/

h1{
    font-family: 'Abril Fatface';
    color: var(--moerkBlaa);
    font-weight: 400;
    text-align: center;
    margin: 36px 0px 12px 0px;
}
h2{
    font-family: 'Abril Fatface';
    color: var(--moerkBlaa);
    font-weight: 400;
    text-align: center;
    margin: 24px 0px 12px 0px;
}
h3{
    color: var(--moerkBlaa);
    text-align: center;
    font-size: 16px;
    margin-bottom: 12px;
}

.praktiskeCard{
    background-color: var(--lysGraa);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 8px 8px;
    text-align: left;
    min-height: 180px;
}
.praktiskeCard p{
    padding-left: 8px;
}



.praktiskeCardSvg{
    height: 30px;
    margin: 12px;
}
.praktiskeCardSvgLille{
    height: 14px;
    margin: 4px;
}

.infoGrid{
    padding: 8px 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
    color: var(--moerkBlaa);
}
.tekstDiv{
    display: flex;
    font-size: 12px;
    align-items: center;
    
}


.frivilligDiv{
    display: flex;
    flex-direction: column;
    justify-content: cente;
    background-color: var(--lysBlaa);
    text-align: center;
    padding: 16px;
    margin: 16px;
    border-radius: 6px;
    color: var(--moerkBlaa);
}
.frivilligDiv p{
    margin-bottom: 12px;
}

.frivilligForm{
    display: flex;
    flex-direction: column;
    
}
.frivilligForm_form{
    display: flex;
    flex-direction: column;
    text-align: left;
    
}
.frivilligForm button{
    max-width: 45%;
    margin: 6px;
   translate: 50%;

}
.formInput{
    outline: none;
    border: none;
    margin: 6px 0px 12px 0px;
    padding: 8px;
}

/*--------------------Praktisk slut---------------------------*/

/*----------------------footer start--------------------------*/
footer{
    background-color: var(--moerkBlaa);
    color: var(--hvid);
    padding: 16px;
    font-size: 12px;
}
.footerSvg{
    fill: var(--hvid);
    height: 20px;
    margin: 8px 8px 8px 0px;
}

.footerDivPunkt{
    display: flex;
    align-items: center;
}

.spoergsmaalDiv, .kontaktDiv{
    margin-top: 16px;
}
/*----------------------footer slut--------------------------*/